APP_ENV=
APP_URL=

APP_NAME=
APP_FRONTEND_URL=
APP_JWT_SECRET=
APP_CORS_ORIGINS=

DB_HOST=
DB_PORT=
DB_NAME=
DB_USER=
DB_PASS=

ACCESS_TOKEN_TTL=
REFRESH_TOKEN_TTL=
PASSWORD_RESET_TTL=

MAIL_FROM_EMAIL=
MAIL_FROM_NAME=
MAIL_TRANSPORT=
RESEND_API_KEY=
MAIL_LOG_FALLBACK=
