APP_NAME=Hysab Kytab
APP_FRONTEND_URL=http://localhost:5173
APP_JWT_SECRET=change-this-secret
APP_CORS_ORIGINS=*

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=expense_manager
DB_USER=root
DB_PASS=

ACCESS_TOKEN_TTL=900
REFRESH_TOKEN_TTL=315360000
PASSWORD_RESET_TTL=1800

MAIL_FROM_EMAIL=no-reply@example.com
MAIL_FROM_NAME=Hysab Kytab
MAIL_TRANSPORT=auto
RESEND_API_KEY=
MAIL_LOG_FALLBACK=0
